<h1>Listings</h1>
<table>
  <% @listings.each do |l|  %>
    <tr>
      <td>
        l.id
      </td>
      <td>
        l.title
      </td>
    </tr>
    <% end %>
</table>
<div style="margin-top:20px">
  <%= link_to "+ Add Listing", new_listing_path %>
</div>