
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
    <title>HelpIsHere.org - Resource Search Engine For Those Affected By Life Altering Disease</title>
    <%= stylesheet_link_tag 'splash_styles' %>
  </head>
  <body style="margin: 0px; font-family: Helvetica,Arial,sans-serif; font-size: 12pt;">
    <div style="background:white;">
      <div style="height:235px;background:white">
        <div style="width: 100%; height: 125px; background-color: #F7DA73; border-bottom: solid 3px #502F0D">
          &nbsp;
        </div>
        <div style="width: 100%; text-align: center; position: absolute; top: 5px;">
          <img src="/images/HiH_Splash_Logo.png" alt="HelpIsHere Logo" />
        </div>
      </div>
      <div style="width: 100%; text-align: center; background: white">
        <div id="flash">
          <%= render_flash_messages  %>
        </div>
        <h1>A Project Of The Gwendolyn Strong Foundation</h1>
        <center>
          <div style="text-align: center; width: 650px">
            <p>
              In October 2007, Gwendoly Strong was born a perfectly healthy baby.
              At 9-weeks-old she was hospitalized with what was thought to be Infant Botulism,
              a serious, but treatable illness. However, just before her 6 month birthday, her parent's
              worst fears were realized when she was diagnosed with the terminal,
              degenerative disease SMA Type 1.
            </p>
            <p>
              Anyone facing a terrible, life altering disease has reached a point where
              they ask, "What now?"  While hundreds of online support groups and networks do
              exist, finding the basic answers to the questions you face everyday is often like
              the proverbial "neddle in a haystack."
            </p>
            <p>In late 2009 HelpIsHere.org intends to change all this.  We will bring the
            most important questions, answers and resources to the forefront to hopefully
            help you learn, reach out, connect and cope.</p>
            <p>
              To make this goal a reality, we need your help.  Whether it's $5 or $50, your
              contribution will make a difference.
            </p>
            <p>
              <center>
                <%= link_to image_tag("btn_donatenow_lg.jpg"), "http://www.gwendolynstrongfoundation.com/donation" %>
              </center>
            </p>
            <!-- SIGN UP BOX WOULD GO HERE -->
          </div>
        </center>
      </div>
      <div style="text-align: center; padding-top: 30px; color: white; font-size: 10pt;
           width: 100%; background: #99972D; border-top: solid 3px #502F0D;margin-top:20px">
        <p style="font-weight: bold;">
        A Project Of The Gwendolyn Strong Foundation</p>
        <p>
        copyright 2008-2009</p>
      </div>
    </div>
   <!-- Wripple Tracking tag --> 
   <script type="text/javascript"> var wrpl_id='996332902'; var wrpl_goal='TEST';</script>
   <script type="text/javascript"> var wrplJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + wrplJsHost + "0.0.0.0:3000/visits/track.js' type='text/javascript'%3E%3C/script%3E")); </script> <!-- End Wripple tag -->
  </body>
</html>
