#content {padding:0px}

    #a_resource {
      font-size: 10pt;
    }

    #a_resource h2 {
      margin:3px 0px;
    }

    #a_resource #address {
      margin:5px 0px
    }

    #a_resource #controls {
      text-align:right;
      font-size:8pt;
      background-color:#EFEFEF;
      border-top:1px dotted gray;
      padding:0px 5px;
    }

    #a_resource #phone {
      margin: 15px 0px;
      font-weight:bold;
    }

    #a_resource #map {
      padding: 5px;
    }

    #a_resource #overview {
      margin: 5px;
      padding: 5px;
      background: #FFFFCC;
    }
    #a_resource #experiences {
      border-top:1px solid #F7DA73;
      padding: 5px;
    }

    #a_resource #experience {
      border-bottom:1px dotted gray
    }