body {
    background-color: #666;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    background: #99972D;
}
#header {
    background-image: url(/images/header_bg.jpg);
    background-repeat: repeat-x;
    width:100%;
    height: 150px;
    margin: 0px;
    overflow:hidden;
}
#login_logout {
    color: #D02B3C;
    font-size: smaller;
    margin:10px 25px;
}
.tab {
    float:left;
}
form {
    margin: 0;
    padding: 0;
}
form table tr td {
    padding: 5px;
}
h1  {
    color: #D02B3C;
    margin-bottom:0px;
}
h2  {
    clear:both;
    margin:15px 0px;
    padding: 10px 0;
    color:teal;
}
li {
    margin-bottom:10px;
}
#content {
    background-color: #fff;
    border: 5px solid #705E1C;
    padding: 10px 10px 20px 10px;
    overflow: hidden;
    margin: 15px 25px;
    line-height:16pt;
}
#notification {
    border: 5px solid #9c9;
    background-color: #cfc;
    padding: 5px;
    margin: 10px 0;
}
#error {
    border: 5px solid #990000;
    background-color: red;
    padding: 5px;
    margin: 10px 0;
    color:white;
}
.errorExplanation {
    border: 5px solid #990000;    
    padding: 5px;
    margin: 25px;
    padding: 10px;
    color: white;
    background: red;
}
.errorExplanation h2 {    
    color: black;
}
.fieldWithErrors {    
    display:inline;
}
#navigation {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    text-align:center;
}
#navigation li {
    display: inline;
    padding: 0 5px;
}
#navigation li a {
    color: #fff;
}
.box {
    border: 2px solid #705E1C;
    background: #F7DA73;
    padding:0px 10px;
}
#edit_user_form table tr td {
    padding: 5px;
}
A.small {
    font-size:10pt;
}
.big-text {
    font-size: 1.2em;
    }
input.text
{
    /*padding: 0.3em 0;*/
    font-size: 1.2em;
    border: solid 1px #666666;
    border-bottom-color: #c8c8c8;
    border-right-color: #c8c8c8;
    background: #fff url(/images/input-bg.png) repeat-x left bottom;
    padding: 5px;
}
input.ui-large
{
    padding: 5px;
    font-size: 14pt;
    border: solid 1px #666666;
    border-bottom-color: #c8c8c8;
    border-right-color: #c8c8c8;
    background: #fff url(/images/input-bg.png) repeat-x left bottom;
}
input.error, textarea.error {
    border:solid 2px red;
}
select.error {
    border:solid 2px red;
    padding:5px;
}

/* Login Form */
#login td {
    font-size: 14pt;
    font-weight: bold;
}

DIV.space-line {
  clear: both; margin: 0; padding: 0; width: auto;
}

/* CSS Tables */
.row {
    width: 100%;
    min-width: 800px;
}
.row .left {
    float: left;    
}
.row .right {
    float:right;    
}

