<% result = myresources_list %>
<div>
  <%= "<b>#{result.listing.title}</b> - #{result.listing.address}& #{result.listing.city}" %><br>
  <span style="font-size:small">Filed under:
  <em>
    <%= result.categories.map {|x| x.title}.join(", ")  %>
  </em></span>
</div>
