<% result = resource_list %>
<li style="margin-bottom:10px">
  <a href="#" class="add_resource" title="<%= result.title %>" rel="<%= "title=#{esc(result.title)}&address=#{esc(result.address)}&city=#{esc(result.city)}&state=#{esc(result.state)}&phone=#{esc(result.phone)}&latitude=#{esc(result.latitude)}&longitude=#{esc(result.longitude)}&website=#{esc(result.businessurl)}" %>"><%= "<b>#{result.title}</b> - #{result.address}& #{result.city}" %></a>
</li>