<% for c in @cats do %>
    <%= check_box_tag "cat_cb_"+c.id.to_s, c.id, @ids.include?(c.id.to_s), :class => "cat_reload", :rel => "cat_cb" %>
    <label for="cat_cb_<%=c.id.to_s%>"><%= c.title.proper_case %></label><br>
  <% end %>