<% resource = resource_basket  %>
<tr>
  <td valign="top">
    <li style="margin-left:10px">
      <%= "<b>#{resource.listing.title}</b>" %><br>
      <span style="font-size:10pt"><%= "#{resource.listing.address}, #{resource.listing.city}" %>
      </span>
    </li>    
  </td>
  <td valign="top" align="right">
    <a href="#" id="<%= resource.id %>" class="delete_profile_resource">[X]</a>
  </td>
</tr>
