<% result = resource_list %>
<li style="margin-bottom:10px">
  <a href="#" class="add_resource" rel="<%= "title=#{CGI::escape(result.title)}&address=#{CGI::escape(result.address)}&city=#{CGI::escape(result.city)}&state=#{CGI::escape(result.state)}&phone=#{CGI::escape(result.phone)}&latitude=#{CGI::escape(result.latitude)}&longitude=#{CGI::escape(result.longitude)}&businessurl=#{CGI::escape(result.businessurl)}" %>"><%= "<b>#{result.title}</b> - #{result.address}& #{result.city}" %></a>
</li>