<h1>My Resources</h1>

<table width="100%" style="margin-top:15px;" cellpadding="3">
  <tr>
    <th>

    </th>
    <th align="right">
      Sort by: <a Title="Name" href="#" id="sort_name">Name</a>&nbsp;&nbsp;
      <a Title="Name" href="#" id="sort_city">City</a>&nbsp;&nbsp;
    </th>
  </tr>
  <tr>
    <td width="150" valign="top" style="font-size:10pt">
      <% form_tag resource_filter_path do |f|   %>
      <%  @cats.each do |c| %>
            <%= check_box_tag "category_ids[]", c.id, true %><%= c.title.proper_case %><br>
      <% end %>
      <%= submit_tag "submit" %>
      <% end %>
    </td>
    <td valign="top">
      <div id="list">
        <%= render :partial => "myresources_list", :collection => @list %>
      </div>
    </td>
  </tr>
</table>

<script language="javascript">
  $(document).ready(function(){
    $('#sort_name').click(function(){
      $.ajax({
        url: "remote/sort_name",
        success: function (response) {
          $('#list').html(response);
        }
      });
      return false;
    })

    $('#sort_city').click(function(){
      $.ajax({
        url: "remote/sort_city",
        success: function (response) {
          $('#list').html(response);
        }
      })
      return false;
    })

  })
</script>

<style>
  #list div {
    padding:5px
  }
</style>
